<div class="container">
  <div class="row">
    <div class="mx-auto col-md-8 mt-4 mb-4">
      <div class="image_back">
        <div class="white_back">
          <p class="font-text mx-auto py-5">
            ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto col-md-8">
 <h2>新着商品</h2>
 <div class="container">
  <div class="row">
    <!--商品一覧表示-->
  </div>
  <div class="all_item">
  <%= link_to "全ての商品を見る >", class: "btn-link  pull-right" %>
  </div>
</div>