<div class="container center-block">
  <div class="row mx-5 pt-5">
    <div class="col-md-7  naganocake"></div>
    <div class="col-md-5 ant"></div>
  </div>
  <div class="row pb-5">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-10">
      <div class="text-right">
        <h3 class="thank-mes">お買い上げありがとうございます。</h3>
      </div>
        <p class="text-right font-size">商品到着までしばらくお待ちください。</p>
    </div>
  </div>
</div>