.about_content {
 text-align: center;
 color: #fff;
 margin-top: 240px;
 line-height: 1.5rem;
}
.about-text1 {
  margin-bottom: 20px;
  color: #fff;
}

.about-text2 {
  line-height: 2.0rem;
  letter-spacing: 6px;
  font-weight: bold;
  
}
